* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

:root {
  --primary:       #67CCD1;
  --secondary:     #FF9100;
  --info:          #27A2CC;
  --light:         #FDAA23;
  --dark:          #052A75;
}

.spectral-medium {
  font-family: "Spectral", serif;
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "Spectral", serif;
  font-weight: 300;
  font-style: normal;
  background-color: var(--primary);
}

/* HEADER */

header {
  width: 100%;
}

#headergif {
  margin: 0.25rem;
}

.header-title {
  font-family: "Spectral", serif;
  position: absolute;
  top: 1rem;
  left: 5rem;
  color: var(--dark);
  width: 25rem;
}

/* NAVBAR */
nav {
  position: sticky !important;
  top: 0%;
  padding: 0;
  z-index: 100;
  width: 100%;
  font-size: 1.5rem;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 1rem;
  box-shadow: 0rem 0.2rem 0.2rem var(--info);
}
.nav-item{
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
  font-weight: 600;
}

.btn:hover{
  box-shadow: 0.2rem 0.2rem 0 var(--info);
}
/* Search button */
.search--wrapper {
  height: auto;
  width: auto;
  max-width: 50%;
  overflow: hidden;
  background: transparent;
  margin: 0;
  position: relative;
  right: -50%;
  transition: all 500ms ease;
}

.search--form {
  overflow: hidden;
  position: relative;
}

.search--input-wrapper {
  padding: 0 6.6rem 0 0; /* Right padding for submit button width */
  overflow: hidden;
}

.search--input {
  width: 100%;
}

.search {
  padding: 0 2.5rem 0 20rem; /* Padding for other horizontal elements */
}

.search--input {
  box-sizing: content-box;
  height: 3rem;
  padding: 0 4.6rem 0 1rem;
  border-color: var(--info);
  border-radius: 1.7rem; /* (height/2) + border-width */
  border-style: solid;
  border-width: 0.2rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  color: var(--primary);
  font-size: 1.5rem;
}

.search--submit {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3rem;
  height: 3rem;
  padding: 0;
  border: none;
  margin-top: 0.4rem; /* margin-top + border-width */
  margin-right: 0.2rem; /* border-width */
  background: transparent;
  color: var(--info);
  font-size: 1.5rem;
  line-height: 3rem;
}

.search--wrapper:focus-within {
  max-width: 100%;
  position: relative;
  right: 0;
}
.search--input:focus {
  outline: none;
  border-color: var(--dark);
}

.search--input:focus.search--submit {
  color: var(--info);
}

.search--submit:hover {
  color: var(--dark);
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: var(--dark);
}

input:-moz-placeholder {
  color: var(--dark);
}

/* Side bar*/
.aside {
  display: block;
}

.image-aside {
  position: sticky;
  top: 5rem;
  min-width: 18rem;
  height: 44rem;
  background-image: url("../img/aside_image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: contain;
  border-radius: 1rem;
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  .aside-navbar {
    display: block;
    position: relative;
    top: 2rem;
    .aside-navbar-title {
      margin: 0.5rem;
      font-size: 2rem;
      display: flex;
      justify-content: center;
      -webkit-text-stroke: 1px rgba(255, 255, 255, 0.9);
      font-weight: bold;
    }
    .aside-item {
      margin: 0.8rem;
      font-size: 1.25rem;
      display: flex;
      justify-content: left;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 1rem;
      border: 0.1rem solid rgba(255, 255, 255, 0.7);
      max-width: 19rem;
      a {
        font-weight: bold;
        text-decoration: none;
        color: rgba(13, 20, 31, 1);
      }
      img {
        height: 2rem;
        margin-right: 2rem;
        margin-left: 3rem;
      }
    }
  }
}

footer {
  padding-bottom: 0rem;
  margin-bottom: 0rem;
  background-color: rgba(238, 244, 248, 1);
  padding-left: 3rem;
  margin-top: 2rem;
}

/* Main */

.main {
  position: relative;
  left: auto;
  min-height: 10rem;
  font-weight: 400;
  font-style: normal;
  width: 100%;
}

section {
  color: #111;
  margin-top: 1rem;
  padding-top: 1rem;

  /* The container */
  .container {
    margin: 0px;
    padding-inline: 1rem 1rem;
    cursor: pointer;
    min-height: 12.5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-width: 25rem;
  }
  .card-text {
    display: none;
    font-size: 0.5;
  }
  .card-title {
    margin: 0.5rem;
    font-size: 2rem;
    font-weight: 350;
  }

  .card-body {
    min-height: inherit;
  }

  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .container > .card {
    border-radius: 10rem 0 0 10rem;
    min-height: inherit;
    .row {
      min-height: inherit;
    }
  }

  /* On mouse-over, add a grey background color */
  .container > .card:hover {
    box-shadow: 1rem 1rem 1rem #111;
  }

  /* When the radio button is checked, add a blue background */
  .producto1 > .card:has(> input:checked) {
    background: linear-gradient(to right, transparent, white 40%),
      url("../img/product1.jpg");
    background-size: contain;
    .side-img1 {
      display: none;
    }
    .card-title {
      margin: 0;
      font-weight: 500;
    }

    .card-body {
      margin-left: 10rem;
    }

    .card-text {
      display: block;
      font-size: 1.2rem;
      font-weight: 450;
    }
  }

  .producto2 > .card:has(> input:checked) {
    background: linear-gradient(to right, transparent, white 40%),
      url("../img/product2.jpg");
    background-size: contain;
    .side-img2 {
      display: none;
    }
    .card-title {
      margin: 0;
      font-weight: 500;
    }

    .card-body {
      margin-left: 10rem;
    }

    .card-text {
      display: block;
      font-size: 1.2rem;
      font-weight: 450;
    }
  }

  .producto3 > .card:has(> input:checked) {
    background: linear-gradient(to right, transparent, white 40%),
      url("../img/product3.jpg");
    background-size: contain;
    .side-img3 {
      display: none;
    }
    .card-title {
      margin: 0;
      font-weight: 500;
    }

    .card-body {
      margin-left: 10rem;
    }

    .card-text {
      display: block;
      font-size: 1.2rem;
      font-weight: 450;
    }
  }

  .producto4 > .card:has(> input:checked) {
    background: linear-gradient(to right, transparent, white 40%),
      url("../img/product4.jpg");
    background-size: contain;
    .side-img4 {
      display: none;
    }
    .card-title {
      margin: 0;
      font-weight: 500;
    }

    .card-body {
      margin-left: 10rem;
    }

    .card-text {
      display: block;
      font-size: 1.2rem;
      font-weight: 450;
    }
  }

  /*Side image*/
  .side-img1 {
    background: linear-gradient(to right, transparent, white 70%),
      url("../img/product1.jpg");
    background-size: contain;
    border-radius: 10rem 0 0 10rem;
    background-blend-mode: darken;
    min-width: 10rem;
  }
  .side-img2 {
    background: linear-gradient(to right, transparent, white 70%),
      url("../img/product2.jpg");
    background-size: contain;
    border-radius: 10rem 0 0 10rem;
    background-blend-mode: darken;
    min-width: 10rem;
  }
  .side-img3 {
    background: linear-gradient(to right, transparent, white 70%),
      url("../img/product3.jpg");
    background-size: contain;
    border-radius: 10rem 0 0 10rem;
    background-blend-mode: darken;
    min-width: 10rem;
  }
  .side-img4 {
    background: linear-gradient(to right, transparent, white 70%),
      url("../img/product4.jpg");
    background-size: contain;
    border-radius: 10rem 0 0 10rem;
    background-blend-mode: darken;
    min-width: 10rem;
  }

  .rating {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.5rem;
  }

  .product-buttons {
    display: flex;
    flex-wrap: nowrap;
    flex: 1 0 auto;
    justify-self: end;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 0.8;

    li {
      display: flex;
      justify-content: center;
      margin-left: 0.25rem;
      margin-right: 0.25rem;
      padding: 0.5rem;
    }

    .btn{font-weight: 650;}

    .btn:hover{
      box-shadow: 0.2rem 0.2rem 0 var(--secondary);
      font-weight: 700;
    }
  }
}

.contacto {
  margin-left: 5%;
}

/* Contacto input */

fieldset {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  width: 100%;
  max-width: 40rem;
  min-width: 20rem;
  padding: 2rem !important;
  background-color: #f9f9f9;
  border: 0.1rem solid var(--dark) !important;
  border-radius: 2rem;
  padding: 3rem;
  margin-top: 5rem;
  background: linear-gradient(to left, transparent, white 50%),
    url(../img/wheelOfFortune.jpeg);
  background-size: contain;
}

legend {
  background-color: var(--light);
  display: flex;
  justify-content: center;
  border: 0.1rem solid var(--secondary);
  padding: 0.5rem;
  border-radius: 3rem;
  font-size: 1.5rem;
  color: #333;
  font-weight: bold;
  margin-bottom: 0.1rem;
}

label {
  display: block;
  margin-top: 0.5rem;
  color: #555;
  font-size: 1.5rem;
  font-weight: 600;
  padding-left: 1rem;
}

input {
  width: 100%;
  margin-bottom: 1rem;
  border: 0.1rem solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
  padding: 0.75rem;
}

textarea {
  width: 100%;
  margin-bottom: 1rem;
  border: 0.1rem solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}

.submit-button {
  width: 50%;
  padding: 1rem;
  font-weight: bold;
  background-color: rgb(100, 255, 150);
  margin: 1rem;
  border: 0.1rem solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}

.submit-button:hover {
  background-color: rgb(50, 125, 75);
  color: white;
}

/* Agregar producto */

#agregar-producto {
  position: fixed;
  top:10%;
  right: 0;
  z-index: 200;
  display: none;
}

.btn-agregar-producto{
  position: fixed;
  bottom:0;
  right: 0;
  z-index: 200;
}

.btn-close{
  position: absolute;
  top: 0;
  right: 0;
}

.btn-carrito{
  position: fixed;
  top:0;
  right: 0;
  z-index: 200;
  border-radius: 50% !important;
  height: 4rem;
  width: 4rem;
  font-size: 2rem !important;
}